@font-face{
    font-family: 'Alright Sans-Light';
    src: url(font/AlrightSans-Light-v3.otf);
}

@font-face{
    font-family: 'Alright Sans-Medium';
    src: url(font/AlrightSans-Medium-v3.otf);
}

html { 
    font-size: 62.5%; 
    -webkit-touch-callout:none; 
    -webkit-text-size-adjust:none; 
    -ms-text-size-adjust:100%; 
}

body { 
    line-height: 21px!important;
    font-size: 12px!important;
    font-family: 'Alright Sans-Light', serif!important;
    letter-spacing: 0.1em!important;
    background-color: #fff!important;
}

* {
    color: #333333!important;
    letter-spacing: 0.1em!important;
}

#content {
    text-align: center;
}

#referWrapper {
    padding: 10px;
}

a {
    color: #000;
}

/*======*/

.cke_editable {
    font-family: 'Alright Sans-Light'!important;
    font-size: 12px!important;
    line-height: 1.3em!important;
    letter-spacing: 1px!important;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    max-width: 300px;
    text-align: center;
    margin:auto;
    margin-bottom: 30px;
}

.container-fluid {
    padding: 0!important;
}

.table_container {
    display: inline-block;
    position: absolute;
    padding-right: 30px;
}

.success {
    color: green!important;
    padding: 5px;
}

#nanError, .error {
   color: red!important; 
   padding: 5px;
}

#page-wrapper {
    width: 100%!important;
    padding-top: 20px;
    background-color: #fff!important;
    overflow: overlay!important;
}

/* FORM STYLE */

.form-control {
    border-radius: 0!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}

form {
    margin-bottom: 0px!important;
}

.form_header {
    font-family: inherit;
    font-size: 14px;
    margin-bottom: 20px;
}

input, textarea, select{
    font-family:inherit!important;
    font-size: inherit!important;
}

input[type=search], input[type=text], input[type=password], select{
    width: 100%!important;
    height: 50px;
    padding: 15px 15px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 15px 15px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button, input[type=button], input[type=submit], input[type=reset] {
    background-color: #707070;
    height: 50px;
    border: none;
    color: #fff!important;
    margin: 2px 0;
    padding: 15px 50px;
    text-transform: uppercase;
}

.product-button {
    background-color: #808080;
    height: 30px;
    border: none;
    color: #fff;
    text-transform: uppercase;
}

/*TABLE LAYOUTS*/

table {
    border-collapse: collapse;
    font-family: inherit;
    font-size: inherit;
    /*margin-right: 30px;*/
    margin-bottom: 30px;
    width: 100%;
}

#content h3, .updateProfile, #mailingWrapper, #emptyCart {
    text-align: center;
    margin: 0;
}

#mailingWrapper {
    margin: 20px;
    height: 330px;
}

.content tr {
    border: none;
}

.content td {
    text-align: left;
    padding: 10px 15px;
    vertical-align: top;
}

.content-sub {
    margin: 0!important;
}

.content-sub tr {
    border: none;
}

.content-sub tr:last-child td {
    padding-top: 20px;
}

.content-sub td {
    vertical-align: top;
    text-align: left;
    padding: 0;
}

.content-sub td:first-child {
    padding-right: 15px;
}

.content-sub td:last-child {
    padding-left: 15px;
}

.content-sub td:only-child {
    padding: 0;
}

table, td, th {
    border: none;
}

th {
    padding: 15px 30px;
    text-align: center;
}

tr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

td {
    padding: 15px 30px;
    text-align: center;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after{
    top: 15px!important;
}

/*  HEADER BAR */

#logoheader, #user , .swatch{
    cursor:pointer;
}

#user {
    text-transform: uppercase;
    padding-right: 20px;
    color: #fff!important;
}

.logo {
    margin: auto;
    text-align: center;
    padding: 50px;
    background-image: url(images/HorizontalLogo_black.png);
    background-repeat: no-repeat;
    background-size: auto 30px;
    background-position: center center;
}

.navbar-blog {
    text-align: center;
    margin: auto;
    height: 30px;
    padding: 0px 15px;
}

.rightheader {
    position: absolute;
    right: 15px;
}

.rightheader ul, .nolist {
    list-style-type: none;
    margin: 0;
}

#frameheader{
    height: 50px;
    width: 100%;
    background: #f2f2f2;
    display: flex;
}

/* SIDE NAVIGATION BAR */

#framecontent{
    position: fixed;
    top: 50px;
    bottom: 0; 
    left: 0;
    width: 250px;
    height: auto;
    overflow: auto;
    background: #ccc;
}

#settingslist, #weblist {
    font-family: inherit;
    font-size: inherit;
}

.logo_sidebar {
    max-width: 200px;
    margin-left: 15px;
    background-size: auto 25px;
    background-image: url(images/HorizontalLogo_black.png);
    background-repeat: no-repeat;
    background-position: 0 center;
}

.subcontent {
    width: inherit;
    overflow: auto;
    padding-bottom: 15px;
}

.sub ul {
    list-style-type: none;
    float: right;
    background-color: #dddddd;
    width: 190px;
    height: auto;
    top: 0;
    right: 0;
    position: absolute;
}

.subtable {
    max-width: 250px;
}

.subtable td {
    padding: 0;
    text-align: left;
}

#nav img {
    height: 16px;
    padding-right: 15px;
}

/* MAIN CONTENT */

#maincontent{
    position: fixed;
    top: 50px; 
    left: 250px;
    right: 0;
    bottom: 0;
    overflow: auto;
    height: auto;
    background: #fff;
}

.innertube {
    margin: 15px;
    padding: 10px;
}

.setting-tooltips {
    font-size: inherit;
    font-style: italic;
    color: #808080;
}

/* WEBSITE */

/* WEBSITE NAVBAR */
/*
#nav-left {
    margin:0 auto;
}*/

.dropdown-menu {
    min-width: 120px!important;
}

.content-inline {
    position: relative;
    top: 50%;
    margin-right: 5px;
}

@media (min-width: 768px){
    .dropdown-menu {
        min-width: 120px!important;
    }
}

/* GENERAL */
.title, .blog_title {
    font-size: 14px;
    align-content: left;
}

.banner-title {
    font-size: 14px;
    text-align: center;
}

.webbanner {
    display: block;
    margin: auto;
    height: 100%;
    text-align: center;
}

.row {
    width:100%!important;
}

/* NAVIGATION & FOOTER */
.rightheader, .rightcontact {
    padding: 0!important;
}

.rightheader, .rightcontact, .righticons, .search_filter, .product_title {
    display: flex;
}

#header {
    height: 50px;
    /*padding: 15px 10px;*/
    margin-bottom: 30px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.rightfooter {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
}

.rightcontact {
    position: absolute;
    top: 90px;
    right: 20px;
    padding: 0;
}

.righticons {
    position: absolute;
    top: 210px;
    right: 15px;
    padding: 0;
}

.left_nav ul, .rightheader ul, .rightfooter ul, .righticons ul, #retail_locs ul, #popup_locs ul, #scrollable_loc ul, .cart_icons ul{
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
}

/*.left_nav li,*/ 
#footer li, .rightfooter li, .rightheader li, #retail_locs li, #popup_locs li {
    float: left;
    /*margin-top: 8px;*/
    padding: 10px;
}

.left_nav {
    padding: 0 10px;
}

.contact {
    padding-left: 10px;
}

.copyright {
    padding-right: 10px;
}

#footer-hr {
    margin-top: 5px!important;
    margin-bottom: 20px!important;
}

.cart_icons li, .colours li {
    float: left;
    padding: 5px;
}

.righticons {
    float: left;
}

.left_nav li a , .rightheader li a, .righticons li a, .rightfooter li a, .products a, 
#recommended a, .button a, .cart_icons li a, .rightsearch a  {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
}

a:hover, .left_nav a:hover:not(.active), #terms_nav a:hover:not(.active), .products a:hover:not(.active),
#recommended a:hover:not(.active), #showGlasses  a:hover:not(.active), #showStory  a:hover:not(.active), 
#showSunglasses a:hover:not(.active), #scrollable_loc a:hover:not(.active), 
.rightsearch a:hover:not(.active), .rightfooter li a:hover:not(.active) {
    color: #808080;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
}

.blog_footer {
    padding: 30px 200px;
    text-align: center;
    background-color: #dddddd;
}

#showGlasses, #showSunglasses, #showStory {
    cursor: pointer;
}

#glasses, #sunglasses, #ourstoryheader, #userMenu {
/*    width: 100%;
    height: auto;*/
    text-align: center;
    margin-top: 50px;
/*    cursor: pointer;*/
    position: absolute;
    background-color: #fff;
    z-index: 15;
}

#userMenu {
    right: 55px;
    background-color: #dddddd;
    z-index: 20!important;
}

#userMenu a:hover {
    text-decoration: underline;
}

#glasses ul, #sunglasses ul, #ourstoryheader ul, .colours ul, #lens_select ul {
    width: 100%;
    list-style-type: none;
}

#glasses, #sunglasses, #ourstoryheader {
    width: 100%;
}

#glasses ul, #sunglasses ul, #ourstoryheader ul {
    margin-left: -15px;
}

#glasses .button, #sunglasses .button {
    margin: 15px;
    width: 100%;
    height: 100%;
}

#ourstoryheader .button {
    margin: 15px;
    width: 100%;
    height: 100%;
}

/* TERMS */

#terms_nav {
  text-align: center;
}

#terms_nav ul {
  display: inline-block;
  margin: 20px 0;
  padding: 0;
}

#terms_nav li {
  padding: 0 60px;
  display: inline-block;
  text-transform: uppercase;
}

#terms_nav li a {
  display: inline-block;
  color: #000;
  padding: 5px;
  text-decoration: none;
}

#terms_content {
    text-align: left;
    padding: 30px 200px;
}

#terms_content .title, .caps {
    text-transform: uppercase;
}

.addcart, #heart {
    position: relative;
    color: #333;
}

a:hover#heart {
    color: #ccc;
}

.cart_icons {
    float: right;
    padding: 5px;
}

.search_filter, .product_title {
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.search_filter ul, .product_title ul {
    /*margin: 0 20%;*/
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

.search_filter li{
    float: left;
    margin: 0;
    padding: 5px 20px;
    background-color: #bbbbbb;
    color: #fff;
}

.rightsearch {
    float: right;
    position: relative;
    /*top: 75px;*/
    right: 20px;
    padding: 0;
    display: flex;
}

#product_table {
    width: 100%!important;
    text-align: center!important;
    margin: 0 auto!important;
}

.catalogue {
    height: 80%;
}

.catalogue img {
    width: 100%;
}

.catalogue .swatch {
    width: 100%;
}

.col-md-3 {
    width: 30%!important;
}

#product_table img {
    width: 100%;
}

.product_title {
    margin: 10px;
}

.product_title h3 {
    margin: 0 20px;
}

.product_title li {
    float: left;
    margin: 0 20px;
}

.product-button {
    padding: 5px 20px;
    background-color: #808080;
    color: #fff;
    
}
.product_name {
    /*position: absolute;*/
    margin-left: 150px;
    margin-top: 10px;
}

.color_swatch {
    margin: 0;
}

.product-buttons {
    position: absolute;
    right: 20px;
    padding: 0;
}

#lens_select {
    width: 15%;
    float: right;
    position: absolute;
    padding: 8px 0px;
    bottom: -50px;
    right: 40px;
    z-index: 15;
    background-color: #ccc;
}

#lens_select li {
    cursor: pointer;
    padding: 0 5px;
}

.details {
    width: 100%;
}

.product_details {
    height: 100%;
    width: 49%;
    margin-left: 10px!important;
    float: left;
}

#prodTable tr {
    border: none;
}

#prodTable {
    padding-left: 10px;
}

.image_display {
    width: 100%;
}

.product_desc {
    margin: 20px 20px;
    float: left;
}

.product_measurements {
    text-align: center;
    margin: 20px auto;
    bottom: 0;
    float: left;
}

.product_measurements h5 {
    display: inline;
}

.home-section {
    width: inherit;
    height: 100%;
    position: relative;
    margin: 10px 0;
}

.section-image{
    width: 33%;
    padding: 0 30px;
}

.section-image img {
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}

.section-text {
    width: 60%;
    margin: 0 30px;
}

.section-link {
    width: 98%;
    margin: auto;
    display: block;
    position: absolute;
    padding: 0 10px;
    bottom: 80px;
    color: #fff;
}

#blog_content, .blog_title_page {
    text-align: center;
    margin: auto;
}

.blog_title_page {
    padding: 10px 0;
    font-size: 16px;
}

.blog_post{ 
    height:100%;
    padding: 0 200px;
    margin: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.blog_post img{
    width: 80%;
    margin: auto;
}

.blog_title {
    font-size: 15px;
    margin: auto;
    font-family: 'Alright Sans-Medium';
    text-transform: uppercase;
    text-align: center;
}

.blog_author {
    text-transform: uppercase;
}

.read_link {
    cursor: pointer;
    text-decoration: none;
}

.section-link .button {
    background-color: #808080;
    padding: 20px 150px;
}

.section-link .button {
    color: #fff!important;    
}

.read_link:hover, .section-link .button:hover {
    text-decoration: underline;
    color: #fff!important;
}

#faq_content {
    text-align: center;
    padding: 0 200px;
    margin: 0 auto;
}

.accordion {
    cursor: pointer;
}

.accordion.active, .accordion:hover {
    text-decoration: underline;
    color: #808080;
}

button.accordion {
    background-color: #fff;
    color: #444!important;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc; 
    color: #fff!important;
    text-decoration: none;
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: #fff;
}

div.panel.show {
    display: block !important;
}

#banner .carousel, #banner .item,#banner .active{
    height:100%;
}

#banner .active, #myCarousel .active {
    background: #cccccc;
}

#banner .carousel-inner{
    height:100%;
}

.carousel {
    overflow: hidden;
}

.carousel img {
    text-align: center;
    margin: 0 auto;
}

#recom_prod img {
    width: 100%;
}

#myCarousel {
    width:100%;
    text-align: center;
    margin: 10px;
}

.thumbnail {
    height: 100%;
}

.carousel-inner {
    text-align: center;
    margin: auto;
}

.carousel-control {
  padding-top:10%;
  width:5%;
}

#myCarousel .col-md-4 img {
    height: 100%;
}

div.product_display img {
    height: 100%;
}

#myCarousel .carousel-inner {
    bottom: 0;
    height: 40%!important;
}

div.product_display.col-md-6 {
    background-color: #000;
    width: 100%;
    height: 100%;
    color: #fff;
}

#image_display img {
    width: 100%;
    margin: 0 auto;
}

#shipping_terms, #virtual_tryon, #ourstory, #recommended, .career_section_full, .full_section, .products {
    height: 100%!important;
    margin: 10px auto;
    text-align: center;
}

#shipping_terms {
    background-color: #ddd;
}

#featured_jobs, #job_openings, .career_section_half {
    height: 50%;
    padding: 20px 0;
}

#shipping_terms, #virtual_tryon, #recommended, #ourstory, #job_openings, #retailJobs, #hqJobs, #featured_jobs, #job_details, #job_form {
    text-align: center;
    margin: 10px auto;
}


#virtual_tryon .col-md-4 button, #job_openings a, #retailJobs a, #hqJobs a, #featured_jobs a{
    border: 1px solid #ccc!important;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    margin: 10px;
    padding: 10px;
}

#job_openings a:hover, #retailJobs a:hover, #hqJobs a:hover, #featured_jobs a:hover {
    background-color: #ccc;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}

#job_form input, #job_form select, #job_form textarea {
    text-align: center;
    margin: 10px auto;
}

#service_filter .heading {
    width: 100%;
    background-color: #ddd;
    border: 1px solid #fff;
    margin: auto!important;
}

#service_filter h3 {
    padding: 50px 0;
    margin: 0;
}

.service {
    background-color: #ddd;
    border: 1px solid #fff;
    text-align: center;
    margin: 5px 15px;
    height: 55px;
    padding-top: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.service a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}

.service a:hover {
    text-decoration: underline;
}

#retail_locs h3, #retail_locs h4, #retail_locs p, #popup_locs h3, #popup_locs h4, #popup_locs p {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}

.loc_serv{
    text-align: center;
    padding: 10px;
}

#locImages {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.store_header {
    text-decoration: underline;
}

#scrollable_loc {
    margin: 0 20px; 
    z-index: 20;
    top: 60px;
}

.spacer {
    width: 90px;
}

#scrollable_loc a {
    display: block;
    color: #000;
    text-decoration: none;
}

.stuck {
    position: fixed;
}

#cart, .giftcard {
    text-align: center;
    margin: auto;
}

#cart input {
    padding: 0px 5px;
    margin: 20px 5px;
    width: 100%;
}

.totalprice {
    margin: 30px 10px;
}

.product_dets {
    margin: 20px 0;
}

#cart {
    margin: 10px auto;
}

#cart h3, #cart button {
    margin: 20px auto;
}

#emptyCart {
    margin: 20px;
}

#cart a {
    color: #fff;
}

#cart a:hover {
    color: #fff;
    text-decoration: underline;
}

#updateCart .button {
    background-color: #808080;
    padding: 20px 30px;
    color: #fff!important;
}

#updateCart a:hover {
    text-decoration: none;
}

.giftcard h3, .giftcard h4, .giftcard h5, .giftcard p {
    margin: 25px;
}

.giftcard {
    margin-top: 30px;
}

.giftcard a:hover:not(.active) {
    text-decoration: underline;
    color: #fff;
}

.giftbox {
    border: #333 1px solid;
    padding: 30px;
    cursor: pointer;
}

#giftcardamounts {
    margin: 20px;
    width: 100%;
}

#giftcardamounts .giftbox {
    margin: 10px;
}

.borderless tr {
    border: none;
    margin: 0 auto;
}

.borderless input {
    margin: 0 auto;
}

#giftcardForm input, #giftcardForm textarea {
    border-radius: 5px;
}

div#calendar {
    padding: 20px;
}

.cart_button {
    background-color: #808080;
    height: 50px;
    border: none;
    color: #fff!important;
    padding: 15px 50px;
    margin: 20px auto;
    position: absolute;
    text-transform: uppercase;
}

#searchWrapper {
    margin: 10px;
}

.searchResults {
    margin-top: 10px;
    max-width:100%;
    height:70%;
    overflow-y: auto;
    text-align: center;
}

/* ADMIN CMS */

#newProduct span, #existingProd span {
    float: right;
    cursor: pointer;
}

/* Navigation panel */

@media only screen and (max-width: 320px){
    #wrapper > * {
        padding-left: 0;
        padding-right: 0;
    }
}

.side-nav {
    background-color: #f2f2f2!important;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.side-nav > li > ul > li.active {
    background-color: #dddddd!important;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, navbar-inverse .navbar-toggle:hover {
    background-color: initial!important;
    border: none!important;
    border-radius: 0!important;
}

button .navbar-toggle {
    margin: 0!important;
}

.navbar-toggle {
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding: 0!important;
    margin-left: 15px!important;
}

.navbar-inverse {
    background-color: #fff!important;
    border-color: #ccc!important;
}

.navbar-header {
    max-height: 50px;
}
    
.navbar-logo {
    position: absolute;
    padding-top: 15px;
    height: auto;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
}
    
#nav-collapse2 {
    display: none;
}

#collapse-nav {
    display: block;
}


.sm-nav {
    padding: 15px 0!important;
}

#ddl-nav { 
    display: none;
}

.navbar-collapse {
    padding: 0!important;
    width: 100%;
}

@media (min-width: 768px) {
    .navbar-logo {
        position: relative;
        padding-top: 10px;
        display: inline-block;
        width: 200px;
        height: auto;
        float: left;
        left: auto;
        transform: none;
        vertical-align: middle;
        margin-right: 5px;
        margin-left: 15px;
    }
    
    #nav-collapse2 {
        display: block;
    }
    
    #collapse-nav {
        display: none;
    }
    
    .sm-nav {
        padding: 15px 0!important;
    }
    
    #ddl-nav { 
        display: block;
    }
}

@media (min-width: 1024px){
    #nav-collapse2 {
        display: none;
    }
    
    #collapse-nav {
        display: block;
    }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.side-nav li a:hover, .side-nav li a:focus {
    background-color: #dddddd!important;
}

.navbar-nav > .active > a {
    background-color: #dddddd!important;
}

.navbar-nav > li > a {
    padding: 10px 15px;
}

.top-nav > li > a {
    padding: 15px;
}

.top-nav > li > a:focus, .top-nav > .open > a {
    background-color: initial!important;
}

.top-nav > li > a:hover, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
    background-color: initial!important;
    color: #000!important;
}

/* Toggle Navigation */

.navbar-right > .top-nav > li .dropdown {
    background-color: initial;
}

.dropdown-menu {
    margin: 0!important;
    padding: 0!important;
    font-size: 12px!important;
}

.top-nav > .open > .dropdown-menu li a {
    padding: 10px 20px!important;
    display: block!important;
}

.divider {
    margin: 0!important;
}

/* Main Content */

h1 {
    letter-spacing: 0.1em!important;
    font-size: 20px!important;
}

h5 {
    letter-spacing: 0.1em!important;
    margin: 20px 0 15px!important;
}

.content-table tr {
    border: none;
}

.content-table tr td:first-child {
    border-right: 1px solid #ccc;
}

.content-table tr:last-child td:first-child {
    border-right: none!important;
    text-align: left!important;
}

textarea {
    width: 100%;
    resize: none;
    padding: 15px 15px;
}

.search {
    text-align: left;
    width: 100%;
}

div.dataTables_filter {
    text-align: left;
}

div.dataTables_filter.label.form-control .input-sm {
    width:100%!important;
}

/* LOADING GIF */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(icons/Preloader_8.gif) center no-repeat #fff;
}

#existingCust {
    border-left: 1px #333 solid;
    height: 100%;
}

#payments {
    text-align: left;
}

#reviewHeadings {
    text-align: left;
}

#reviewCosts {
    text-align: right;
}

.padded {
    padding: 5px;
    margin-left: 5px;
}

.prodbanners {
    z-index: 0;
}

/* MODAL LAYOUT */

@media (min-width: 768px){    
    #imagemodal .modal-content {
        border-radius: 0;
        border: 0;
        background-color: initial!important;
    }
    
    #myModal .modal-dialog {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #myModal .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
        border: 0;
    }
    
    #myModal .modal {
        overflow-y: hidden!important;
    }
}

input#search {
    border: none!important;
}

input#search:focus {
    outline-color: #fff!important;
    outline-style: none!important;
    outline-width: 0!important;

    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-appearance:none!important;
}

#searchModal .modal-dialog, #myModal .modal-dialog{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#searchModal .modal-content, #myModal .modal-content  {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    border: 0;
}

#searchModal .modal, #myModal .modal {
    overflow-y: hidden!important;
}

.modal.modal-fullscreen .modal-content {
    /*background: rgba(192,192,192, 0.2);*/
}

.modal.modal-fullscreen .modal-header {
  border: 0;
  color: #fff;
}

.modal.modal-fullscreen .modal-footer {
  /*border-color: rgba(192,192,192, 0.2);*/
}

.close {
    height: initial!important;
    color: initial!important;
    /*padding-bottom: 10px!important;*/
}

.close_modal {
    right: 20px;
    top: 10px;
}

.img-responsive {
    width: 100%!important;
    margin: 0 auto!important;
}

.img-grid{
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.img-modal {
    width: 100%;
    z-index:0;
}

.btn-overlay {
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
}

#img-col {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.filter-align {
    line-height: 50px!important;
    height: 50px!important;
    width: auto;
    margin-right: 15px;
}

.addMore {
    cursor: pointer;
}

.padded-input {
    margin: 10px 0;
}

.ticker {
    text-align: center;
    width:100%!important;
    background-color: #cccccc;
    color:#fff!important;
}